extends ./template/layout

block title
	title= "Avocado"

block navBarTitle
	| avocado
block navBarLogo
	| Logo

block content
	form(action="", method="POST")
		input(type="text", name="username")
		input(type="password", name="password")
		input(type="submit" name="submitLogin")
	

